
body {
  background-color: #f2f3f4;
  font-family: 'Heebo', sans-serif;
  color: #333333;
}

h1, h2 {
  color: #0059B3;
  font-weight: 700;
  margin: 0;
}


a {
  text-decoration: none;
  color: #92C9FF;
}

img {
  width: 150px;
}


@media (min-width: 960px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container {
  margin: 0 auto;
}

.card {
  margin: 10px 0;
  background-color: white;
  padding: 40px 20px;
  border-radius: 3px;
  text-align: center;
}

.img_circle {
  border-radius: 50%;
}

.btn_blue {
  background-color: #92C9FF;
  padding:  10px 20px 10px;
  border-radius: 3px;
  color: white;
}

p {
  margin: 10px;
  padding: 10px;
}

.inline_list {
  margin: 0;
  padding: 0;
}

.inline_list li {
  display: inline-block;
  padding: 10px;
}

.icon_social {
  font-size: 30px;
  color: #92C9FF;
}

.icon_social:hover {
  color: #FFA000;
  transition: ease 0.3s;
}

.btn_blue:hover {
  background-color: #FFA000;
  transition: ease 0.3s;
}
